<a href="/admins/vaccine/add">Create Vaccine</a>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Stock</td>
            <td>Category</td>
            <td>isDeleted</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <% data.forEach(el => { %>
            <tr>
                <td><%= el.name %></td>
                <td><%= el.stock %></td>
                <td><%= el.category %></td>
                <td><%= el.isDeleted %></td>
                <td><a href="/admins/vaccine/edit/<%= el.id %>">edit</a>||<a href="/admins/vaccine/delete/<%= el.id %>">delete</a></td>
            </tr>
        <% }) %> 

    </tbody>
</table>