<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>
<%- include('partials/navbar') %>

<div class="container mt-4">
    <a class="btn btn-outline-primary mb-4" href="/admins/vaccine/add">Create Vaccine</a>

    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Stock</th>
                    <th>Category</th>
                    <th>isDeleted</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <% data.forEach(el => { %>
                    <tr>
                        <td><%= el.name %></td>
                        <td><%= el.stock %></td>
                        <td><%= el.category %></td>
                        <td><%= el.isDeleted %></td>
                        <td>
                            <a class="btn btn-outline-success" href="/admins/vaccine/edit/<%= el.id %>">Edit</a>
                            <a class="btn btn-outline-danger" href="/admins/vaccine/delete/<%= el.id %>" onclick="return confirm('You cannot undo after delete this data, still want to delete?')">Delete</a>
                        </td>
                    </tr>
                <% }) %>

                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>